@if (selectedPlace$ | async; as selectedPlace) {
<div class="reviews-container w-full h-[300px] flex flex-col gap-10">
  @for (review of selectedPlace.reviews; track review) {
  <div class="review-card flex flex-col gap-2">
    <div class="profile-container flex items-center gap-2">
      <div class="profile-image">
        <img
          class="w-[50px] h-[50px]"
          src="./profile-photo-placeholder.webp"
          alt="Profile photo placeholder"
        />
      </div>
      <div class="author-container">
        <h2>{{ review.author_name | titlecase }}</h2>
      </div>
    </div>
    <div class="review-details flex gap-2 items-center">
      <div class="flex items-center">
        @for (ratingCount of maxRatingArr; track $index; let count = $index) {
        <svg
          [ngClass]="{
            ' text-yellow-300': count < review.rating,
            'text-gray-300': count >= review.rating
          }"
          class="w-4 h-4 ms-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg>
        <!-- <svg
          class="w-4 h-4 ms-1 text-gray-300 dark:text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 20"
        >
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
          />
        </svg> -->
        }
        <div class="numeric-rating-container ml-2">
          <p class="font-light">{{ review.rating }}</p>
        </div>
      </div>

      <div class="review-date">
        <p class="text-xs text-gray-500">
          {{ review.relative_time_description }}
        </p>
      </div>
    </div>
    <div class="content-container">
      <p
        class="text-sm"
        [ngClass]="{
          'line-clamp-3': !isExpanded(review.author_name),
          'line-clamp-none': isExpanded(review.author_name)
        }"
      >
        {{ review.text }}
      </p>
      @if (review.text.length >= 150) {
      <button
        (click)="toggleReadMore(review.author_name)"
        class="text-sm text-red-700 underline :hover cursor-pointer"
        type="button"
      >
        Read {{ isExpanded(review.author_name) ? "less" : "more" }}
      </button>
      }
    </div>
  </div>
  }
</div>
}
