<google-map
  class="relative"
  [center]="center"
  [zoom]="zoom"
  [options]="options"
  width="100%"
  height="100%"
  mapId="6e5e9d44880c7346"
  #mapRef="googleMap"
>
  @if(directionsResult$ | async; as directionsResult) {
  <map-directions-renderer [directions]="directionsResult" />
  } @if (markerPosition) {
  <map-advanced-marker [position]="markerPosition"></map-advanced-marker>
  }
</google-map>

@if (selectedPlace()) {
<app-map-place-card
  [selectedPlace]="selectedPlace()"
  class="absolute right-40 bottom-70"
>
</app-map-place-card>
}
